{% if paragraph["type"] == "p" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<p>{{paragraph["content"]}}</p></a>
{% elif paragraph["type"] == "heading" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<h2 class="section-heading">{{paragraph["content"]}}</h2></a>
{% elif paragraph["type"] == "blockquote" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<blockquote>{{paragraph["content"]}}</blockquote></a>
{% elif paragraph["type"] == "img" %}
	<a href="/admin/edit-paragraph-img?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<img class="img-responsive" src="{{paragraph["content"]}}" alt=""></a>
{% elif paragraph["type"] == "caption" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<span class="caption text-muted">{{paragraph["content"]}}</span></a>
{% elif paragraph["type"] == "code" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<code>{{paragraph["content"]}}</code></a>
{% elif paragraph["type"] == "pre" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}"><span>Source Code: </span></a>
		<pre class="brush: js;">{{paragraph["content"]}}</pre>
{% elif paragraph["type"] == "samp" %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<samp>{{paragraph["content"]}}</samp></a>
{% elif paragraph["type"] == "raw" %}
	<a href="/admin/edit-paragraph-raw?articleId={{article["id"]}}&id={{paragraph["id"]}}"><span>Rich html: </span></a>
		{% raw paragraph["content"] %}
{% else %}
	<a href="/admin/edit-paragraph?articleId={{article["id"]}}&id={{paragraph["id"]}}">
		<{{paragraph["type"]}}>{{paragraph["content"]}}</{{paragraph["type"]}}></a>
{% end %}